    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>听首歌吧</h2>
                    <p>打开新界面，听个音乐.</p>
                    <!-<a href="https://isujin.com/" class="btn btn-default btn-lg">>
                    <!开启新世界吧</a>>
                    <audio autoplay="autoplay" controls="controls"loop="loop" preload="auto"
            	src="//music.163.com/outchain/player?type=2&id=1334468350&auto=1&height=66">
                </div>
            </div>
        </div>
    </section>
