    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>亲爱的，听首歌吧</h2>
                    <p>单击，听个音乐.</p>
                     <!--  <a href="https://isujin.com/" class="btn btn-default btn-lg">> 开启新世界吧</a>    -->
                    <audio autoplay="autoplay" controls="controls"loop="loop" preload="auto"
            	src="http://www.ytmp3.cn/down/70580.mp3">
                   <audio class="wp-audio-shortcode" id="audio-6537-1" loop="1" preload="auto" autoplay="autoplay" style="width: 100%;" controls="controls"><source type="audio/mpeg" src="http://www.ytmp3.cn/down/70580.mp3"><a href="http://www.ytmp3.cn/down/70580.mp3">http://www.ytmp3.cn/down/70580.mp3</a></audio>
                </div>
            </div>
        </div>
    </section>
